:root {
  --hud-black: #000000;
  --hud-white: #FEFEFD;
  --hud-gray: #909090;
  --hud-red: #D51F1D;
  --hud-red-signal: #EE1006;
  --hud-warning: #FFC601;
  --hud-grid: 4px;
  --hud-line-thin: 2px;
  --hud-line-standard: 3px;
}